.parentContent{
    display: flex;
    align-items: center;
    margin: 12px;

}
.parentContent img{
    width: 100%;
    min-width: 224px;
    height: 100%;
    min-height: 208px;
    max-height: 208px;
    object-fit: cover;
}
.childContent{
    width: 100%;
    min-width: 224px;
    height: 100%;
    min-height: 208px;
    max-height: 208px;

    background: #F7F7F7;
    text-align: center;
}
.childContent h3{
    font-size: 20px;
    color: #FF7800;
}
.childContent h4{
    font-size: 16px;
    color: #000000E0;
    font-weight: 600;
}