.Salesparent{
    display: flex;
    align-items: center;
}
.Salesparent img{
    width: 100%;
    min-width: 350px;
    height: 100%;
    min-height: 323px;
    max-height: 323px;
    object-fit:contain;
}
.salesall h3{
    font-size: 26px;
    color: #FF7800;
    margin-bottom: 12px;
}
.salesall h4{
    font-size:20px;
}
.salesall button{
    font-size:20px; 
  
}
.Sales{
    width: 100%;
    min-width: 224px;
    height: 100%;
    min-height: 208px;
    max-height: 208px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    background: #F7F7F7;
    text-align: center;
}
.Salesbutton p{
    background-color: #FF7800;
    width:25%;
   
    
   
}



